.idea
.cache
.pytest_cache
.tox
/**/__pycache__

# please do not ignore the lock-file!
# this is useful for reproducible builds:
#poetry.lock

*.png
*.pdf

*.swp
*~
.~*
**/.tmp

**/build
**/dist
**/doc/_build
*.pyd
*.egg-info
.eggs
_build
_testdata

report.html

.coverage
.coveragerc

examples/**/*.tsv
examples/**/*.jpg

