[tool.poetry]
name = "pytrms"
version = "0.1.1"
description = "Python bundle for proton-transfer reaction mass-spectrometry (PTR-MS)."
authors = ["Moritz Koenemann <github@lefitz.net>"]
license = "GPL-2.0"

[tool.poetry.dependencies]
python = "^3.8"
h5py = "^3.6.0"
requests = "^2.27.1"
pandas = "^1.4.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
